= link_to '+ Create New', new_trade_request_path, class: 'button primary right phone-hidden'

%h1 Trade Requests

%hr

.table-list
  - @trade_requests.each do |trade_request|
    = render 'list_item', trade_request: trade_request, expanded: @expand == trade_request.id


= link_to '+ Create New', new_trade_request_path, class: 'button primary phone-only'
