.table-list
  display: table
  width: 100%
  padding-bottom: 30px
  .row
    display: table-row
    &, a.name
      color: lighten($dark-grey,40%)
    &:hover
      &, a.name
        color: $dark-grey
    .name, .info, .actions
      display: table-cell
      position: relative
      padding: 20px 30px
      border-bottom: solid 1px $light-grey
    .actions
      position: relative
      width: 140px
      text-align: right
      .fa-cog
        display: block
        position: absolute
        top: 22px
        right: 0
        cursor: pointer
      .action-list
        display: none
        position: absolute
        top: 40px
        right: 0
        width: 100px
        height: auto
        border: solid 1px $light-grey
        z-index: 10
        a
          display: block
          padding: 10px
          background-color: $white
          text-align: left
          border-bottom: solid 1px $light-grey
          &:hover
            background-color: $offwhite
          &:last-child
            border-bottom: none
      &.open
        .action-list
          display: block
    &.expanded, &.collapsed
      .name
        &:before
          display: block
          position: absolute
          font-size: 22px
    &.collapsed
      .name
        &:before
          top: 19px
          left: 5px
          content: '+'
    &.expanded
      .name
        &:before
          top: 17px
          left: 6px
          content: '–'
