<h1>Login</h1>
<hr />

<form class="js-form">

  <div class="field">
    <label for="user_username">Username</label>
    <input autofocus="autofocus" type="text" name="user[username]" id="user_username" />
  </div>

  <div class="field">
    <label for="user_password">Password</label>
    <input autocomplete="off" type="password" name="user[password]" id="user_password" />

    <div class="js-error-message error-message"></div>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Login" />
  </div>

</form>

<p>
  <a href="/u/password/new">Forgot your password?</a>
</p>

<p>
  <a href="/u/confirmation/new">Didn't receive confirmation instructions?</a>
</p>

