<h1>Signup</h1>
<hr />

<form class="new_user" id="new_user" action="/signup" accept-charset="UTF-8" method="post">

  <input name="utf8" type="hidden" value="✓" />
  <input type="hidden" name="authenticity_token" value="{{formToken}}" />

  <div class="field">
    <label for="user_email">Email *</label>
    <input autofocus="autofocus" type="email" name="user[email]" id="user_email" />
  </div>

  <div class="field">
    <label for="user_username">Username * (used to login)</label>
    <input type="text" name="user[username]" id="user_username" />
  </div>

  <div class="field">
    <label for="user_password">Password * (6 characters minimum)</label>
    <input autocomplete="off" type="password" name="user[password]" id="user_password" />
  </div>

  <div class="field">
    <label for="user_password_confirmation">Password Confirmation *</label>
    <input autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
  </div>

  <div class="field">
    <label for="user_terms_and_conditions">
      <input name="user[terms_and_conditions]" type="hidden" value="0" />
      <input type="checkbox" value="1" name="user[terms_and_conditions]" id="user_terms_and_conditions" />
      I accept the <a target="_blank" href="/terms">terms and conditions</a> *
    </label>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Signup" data-disable-with="Signup" />
  </div>

</form>

<p>
  <a href="/u/confirmation/new">Didn't receive confirmation instructions?</a>
</p>

