= link_to '+ Create New', new_trade_request_path, class: 'button primary right'

%h1 Trade Requests

%hr

.trade-requests
  - @trade_requests.each do |trade_request|
    .trade-request
      .name
        = trade_request.name
      .actions-trigger.fa.fa-cog.fa-lg
      .actions
        = link_to 'Edit', edit_trade_request_path(trade_request)
        = link_to 'Destroy', trade_request, :method => :delete, :data => { :confirm => 'Are you sure?' }

