<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trade_request.name %>
</p>

<%= link_to 'Edit', edit_trade_request_path(@trade_request) %> |
<%= link_to 'Back', trade_requests_path %>
