TEMPLATE PRIVACY STATEMENT

Your privacy is important to [NAME].  This privacy statement provides information about the personal information that [NAME] collects, and the ways in which [NAME] uses that personal information.

Personal information collection

[NAME] may collect and use the following kinds of personal information: 

λ	[information about your use of this website (including [INSERT DETAILS]);] 
λ	[information that you provide using for the purpose of registering with the website (including [INSERT DETAILS]);]
λ	[information about transactions carried out over this website (including [INSERT DETAILS]);] 
λ	[information that you provide for the purpose of subscribing to the website services (including [INSERT DETAILS]); and]
λ	[any other information that you send to [NAME].]

Using personal information

[NAME] may use your personal information to: 

λ	[administer this website;]
λ	[personalize the website for you;]
λ	[enable your access to and use of the website services;]
λ	[publish information about you on the website;]
λ	[send to you products that you purchase;]
λ	[supply to you services that you purchase;]
λ	[send to you statements and invoices;]
λ	[collect payments from you; and]
λ	[send you marketing communications.]

Where [NAME] discloses your personal information to its agents or sub-contractors for these purposes, the agent or sub-contractor in question will be obligated to use that personal information in accordance with the terms of this privacy statement. 

In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, [NAME] may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.

Securing your data

[NAME] will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information. 

[NAME] will store all the personal information you provide [on its secure servers]. 

[Information relating to electronic transactions entered into via this website will be protected by encryption technology.]

Cross-border data transfers

Information that [NAME] collects may be stored and processed in and transferred between any of the countries in which [NAME] operates to enable the use of the information in accordance with this privacy policy.

[In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.]

You agree to such cross-border transfers of personal information.

Updating this statement

[NAME] may update this privacy policy by posting a new version on this website.  

You should check this page occasionally to ensure you are familiar with any changes.  

Other websites

This website contains links to other websites.  

[NAME] is not responsible for the privacy policies or practices of any third party.

Contact [NAME]

If you have any questions about this privacy policy or [NAME'S] treatment of your personal information, please write:

λ	by email to [EMAIL ADDRESS]; or 
λ	by post to [POSTAL ADDRESS].



