@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,700')

body
  padding: 0
  margin: 0
  background-color: $offwhite

hr
  border: solid $light-grey 1px
  border-size: 1px 0

.content
  padding: 30px 30px 30px 210px
