
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,700')

body
  padding: 0
  margin: 0
  background-color: $offwhite
  font-family: 'Open Sans', sans-serif
  color: $dark-grey
  font-size: 14px

.header
  height: 70px
  box-shadow: rgba(0,0,0,0.1) 0 2px 4px
  .logo
    height: 70px
    width: 180px
    float: left
    background-color: $blue
    text-align: center
    line-height: 70px
    a
      font-size: 24px
      font-weight: bold
      color: $white
      text-decoration: none
      letter-spacing: 0.05em
  .top-nav
    box-sizing: border-box
    height: 70px
    padding: 10px 10px 10px 200px
    background-color: $white
    .search
      position: relative
      width: 460px
      height: 50px
      overflow: hidden
      border-radius: 3px
      input[name="query"]
        box-sizing: border-box
        position: absolute
        top: 0
        left: 0
        right: auto
        bottom: 0
        width: 87%
        height: 100%
        background-color: $offwhite
        padding: 0 15px
        border: 0
        outline: 0
      .search-button
        position: absolute
        top: 0
        left: auto
        right: 0
        bottom: 0
        width: 13%
        background-color: $grey
        color: $white
        text-align: center
        line-height: 50px
        cursor: pointer
        .fa
          position: relative
          top: -1px

.nav
  position: absolute
  top: 70px
  left: 0
  right: auto
  bottom: 0
  height: auto
  width: 180px
  padding: 20px 0
  background-color: $dark-grey
  color: $soft-grey
  .item
    display: block
    padding: 14px
    text-decoration: none
    cursor: pointer
    &:hover
      color: $white
    .fa
      margin-right: 8px
      width: 20px
      text-align: center
      &.fa-handshake-o
        font-size: 14px
        position: relative
        top: -2px

.content
  padding: 20px 20px 20px 200px
  h1
    font-weight: normal
    font-size: 24px
